<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href='/css/styles.css'>
</head>
<body>
    <div id='main-content'>
        {{>header}}
        <form action="">
            <input type="text" placeholder='Location'>
            <button>Submit</button>
        </form>
        <p id='message-one' class='message-output'></p>
        <p id='message-two' class='message-output'></p>
    </div>
    
    {{>footer}}
</body>
<script src='/js/script.js'></script>
</html>